.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  position: relative;
  background-color: #333;
  width: fit-content;
  height: fit-content;
  margin-top: 5%;
  margin-left: 2%;
  border-radius: 10px;
}

.box input {
  border-width: 0px 0px 1px 0px;
  background-color: #333;
  color: white;
  border-color: white;
  border-radius: 0;
  margin-bottom: 8%;
  margin-top: 0;
}

.form2 {
  position: inherit;
  display: flex;
  flex-direction: column;
  margin: 50px 50px 70px 50px;
  align-items: flex-start;
  justify-content: center;
  color: white;
}

.info {
  border-radius: 5px;
  margin-top: 10px;
}

.box label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

.button1 {
  position: relative;
  margin-top: 20px;
  margin-bottom: 5px;
  align-self: flex-start;
  size-adjust: 0.5;
  border-radius: 5px;
  padding: 1px 5px 1px 5px;
  border-style: none;
  color: black;
  cursor: pointer;
}

.button2,
.button3 {
  border-radius: 5px;
  padding: 1px 5px 1px 5px;
  border-style: none;
  color: black;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 20%;
}

.error {
  word-wrap: break-word;
  font-size: 1rem;
  text-align: left;
  max-width: 200px; /* Adjust the maximum width as needed */
  color: #7a7878;
}
