.container,
.newForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
  gap: 20px; /* Add some space between items */
  margin-left: 10px; /* Adjust margin for smaller screens */
  margin-bottom: 20px;
  margin-top: 30px;
}

.container h3 {
  margin-left: auto; /* Center the heading */
  margin-right: auto;
  text-align: center; /* Center the text within the heading */
}

.newFormButton {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  margin-top: 20px; /* Add some space above the button */
}

.newFormButton button {
  border: none;
  background-color: transparent;
  padding: 10px 20px; /* Add padding to the button */
  cursor: pointer;
}
